.portfolio-card-container {
    // width           : 30%;
    // // height       : 50%;
    // margin          : 0 1.65%;
    // flex: 1 1 30%;
    flex-basis: 32%;
    margin-top: 2.5rem;
    position: relative;
    scale: 1;
    animation: p-appear 0.5s forwards;

    @media (max-width: 768px) {
        flex-basis: 48%;
    }

    @media (max-width: 480px) {
        flex-basis: 100%;
    }

    @keyframes p-appear {
        from {
            scale: 0.5;
        }

        to {
            scale: 1;
        }
    }

    .p-card-img-container {
        border-radius: 1rem;
        overflow: hidden;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        // background-color: #333;
        .p-card-img {
            transition: height 0.5s;
            border-radius: 1rem;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

    }

    .p-card-img-container:hover .p-card-img {
        height: 120%;
    }

    .p-card-img-container:hover .p-view {
        opacity: .75;
    }

    .p-view {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        width: 35px;
        height: 35px;
        border-radius: 0.5rem;
        z-index: 1;
        color: #fff;
        background-color: #808080;
        transition: opacity 0.5s;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .p-view:hover {
        opacity: 1;
    }

    .p-card-img-container:hover~.p-view {
        opacity: 1;
    }


    .p-card-h1 {
        font-size: 1rem;
        margin-top: .5rem;
        margin-left: .5rem;
    }

    .p-card-p {
        font-size: 1rem;
        margin-left: .5rem;
        color: #808080;
    }
}