$gr:#222224;


.resume-container {
    overflow-x: clip !important;
    padding   : 2rem;
    animation : appear 0.5s ease;
    transition: opacity 0.5s;

    @keyframes appear {
        0% {
            opacity: 0.2;

        }

        100% {
            opacity: 1;

        }
    }

    .heading {
        margin-top   : 1.5rem;
        font-size    : 1.75rem;
        font-weight  : 500;
        margin-bottom: 1rem;
    }

    .page-title {
        font-size  : 2rem;
        font-weight: 500;
    }

    .br-line {
        width        : 5%;
        border       : 3px solid #ffd700;
        margin       : 20px 0;
        border-radius: 20px;
        animation    : brline 0.5s ease;
    }

    @keyframes brline {
        0% {
            width: 0%;

        }

        100% {
            width: 5%;

        }
    }

    .time-line-box {
        display: flex;

        .vertical-line {
            >svg {
                margin-bottom: 1.5rem;
                padding      : 1rem;
                background   : #222;
                border-radius: 10px;
                box-shadow   : -4px -4px 5px rgba(90, 90, 90, 0.15), 4px 4px 5px rgba(0, 0, 0, 0.15);
            }

            >.line-with-dots {
                display       : flex;
                flex-direction: column;
                align-items   : center;
                height        : 235px;
                /* Adjust the height as needed */
                margin        : 20px auto;
                position      : relative;

                .line {
                    width           : 1px;
                    height          : 100%;
                    background-color: rgb(247, 247, 247);
                    position        : absolute;
                    animation       : lineHeight 0.5s ease;
                    transition      : height 0.5s ease;
                }

                @keyframes lineHeight {
                    0% {
                        height: 0%;
                    }

                    100% {
                        height: 100%;
                    }
                }

                .dot {
                    z-index         : 1;
                    width           : 9px;
                    /* Adjust the size of the dot */
                    height          : 9px;
                    /* Adjust the size of the dot */
                    background-color: gold;
                    box-shadow      : 0px 0px 10px gold;
                    border-radius   : 50%;
                    position        : absolute;
                }

                .dot:nth-child(1) {
                    top: 0;
                }

                .dot:nth-child(2) {
                    top       : 50%;
                    transform : translateY(-50%);
                    animation : dot2 0.5s ease;
                    transition: top 0.5s ease;
                }

                .dot:nth-child(3) {
                    bottom    : 0;
                    animation : dot3 0.5s ease;
                    transition: all 0.5s ease;
                }

                @keyframes dot2 {
                    0% {
                        top: 0%;
                    }

                    100% {
                        top: 50%;
                    }
                }

                @keyframes dot3 {
                    0% {
                        bottom: 100%;
                    }

                    100% {
                        bottom: 0;
                    }
                }
            }

        }


        .time-line-content {
            margin-left: 1rem;

            h2 {
                font-size    : 1.5rem;
                font-weight  : 500;
                margin-bottom: 2rem;
                line-height  : 3.5rem;
            }

            .time-line {
                margin-bottom: 1.5rem;
                opacity      : 1;

                h3 {
                    font-size    : 1.05rem;
                    margin-bottom: .5rem;
                    font-weight  : 500;
                }

                p {
                    font-size: 1rem;
                }

                .years {
                    color: hsla(51, 100%, 50%, 0.7);
                }

                .time-line-text {
                    color: #a1a1a1;
                }
            }

            :nth-child(2) {
                // animation: fadeIn 0.5s forwards;
                animation         : fadeIn linear;
                animation-timeline: view();
                animation-range   : entry 0% cover 50%;
            }



            :nth-child(3) {
                // animation         : fadeIn 1s forwards;
                animation         : fadeIn linear;
                animation-timeline: view();
                animation-range   : entry 0% cover 50%;
            }

            :nth-child(4) {
                // animation         : fadeIn 1.5s forwards;
                animation         : fadeIn linear;
                animation-timeline: view();
                animation-range   : entry 0% cover 50%;
            }


            @keyframes fadeIn {
                from {
                    opacity    : 0;
                    transform  : translateY(20px);
                    /* Optional: slight move up */
                }

                to {
                    opacity  : 1;
                    transform: translateY(0);
                }
            }
        }
    }

    .skills {
        background   : $gr;
        box-shadow   : -2px -4px 5px rgba(90, 90, 90, 0.15), 4px 4px 5px rgba(0, 0, 0, 0.15);
        padding      : 2rem;
        border-radius: 15px;


        p {
            font-size    : 1rem;
            margin-bottom: .5rem;

            span {
                color: rgb(169, 169, 169);
            }
        }



        .container {
            width           : 100%;
            background-color: #333;
            height          : 8px;
            border-radius   : 10px;
            overflow        : visible !important;
            margin-bottom   : 20px;

            .bar-80 {
                border-radius     : 10px;
                width             : 80%;
                height            : 100%;
                background-color  : gold;
                animation         : skillbar1 linear;
                animation-timeline: view();
                animation-range   : entry 0% cover 20%;
            }

            .bar-50 {
                border-radius     : 10px;
                width             : 50%;
                height            : 100%;
                background-color  : gold;
                animation         : skillbar2 linear;
                animation-timeline: view();
                animation-range   : entry 0% cover 20%;
            }

            @keyframes skillbar1 {
                from {
                    width: 0%;
                }

                to {
                    width: 80%;
                }
            }

            @keyframes skillbar2 {
                from {
                    width: 0%;
                }

                to {
                    width: 50%;
                }
            }
        }

    }
}