.main-container {
    margin-left     : 1rem;
    width           : 80%;
    position        : relative;
    border-radius   : 20px;
    background-color: #1e1e1e;
    text-align      : left;
    border: 1px solid #383838;
    overflow-x: hidden;
    @media (max-width: 768px) {
        width: 100%;
        margin-left: 0;
        border-radius: 0;
    }
    ::-webkit-scrollbar {
        width : 2px;
        height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        // box-shadow   : inset 0 0 5px #242424;
        border-radius: 10px;
        background-color: #1a1a1a;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        box-shadow   : 0px 0px 4px #ffd700;
        background   : #ffd700;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #d1b200;
    }

    ::-webkit-scrollbar-track-piece:end {
        margin-right: 100px;
    }

    ::-webkit-scrollbar-track-piece:start {
        margin-left: 100px;
    }
}