.navBar{
    position: absolute;
    right: 0;
    z-index: 1;
    font-size: 1rem;
    border-left: 1px solid #383838;
    border-bottom: 1px solid #383838;

    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
    ul {
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;

        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 500px;
        overflow: hidden;
        background-color: #282828;
      }
      
      li {
        float: left;
        width: 20%;
        // margin: 0 20px;
      }
      
      li * {
        transition: background-color 0.5s ease;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      .active {
        color: #ffd700;
      }
      li *:hover:not(.active) {
        background-color: #1e1e1e;
      }
      

}
