body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #242424;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffd700;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d1b200;
}


.App {
  text-align: center;

  * {
    // margin    : 0;
    // padding   : 0;
    // box-sizing: border-box;`
  }
  a {
    text-decoration: none;
    color          : inherit;
  }

  img {
    max-width: 100%;
    height   : auto;
  }
  
}

$white: #fff;

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

.App-header {

  padding         : 50px;
  background-color: #111;
  min-height      : 100vh;
  display         : flex;
  // align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
  @media screen and (max-width:768px) {
    flex-wrap: wrap;
    padding: 0;
  }
}

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }