.contact-container {
    padding   : 2rem;
    animation : appear 0.5s ease;
    transition: opacity 0.5s;

    @keyframes appear {
        0% {
            opacity: 0.2;

        }

        100% {
            opacity: 1;

        }
    }

    .page-title {
        font-size  : 2rem;
        font-weight: 500;
    }

    .br-line {
        width        : 5%;
        border       : 3px solid #ffd700;
        margin       : 20px 0;
        border-radius: 20px;
        animation    : brline 0.5s ease;
    }

    @keyframes brline {
        0% {
            width: 0%;

        }

        100% {
            width: 5%;

        }
    }

    .blog-card-container {
        display        : flex;
        justify-content: space-around;
        flex-wrap      : wrap;
        gap            : 2rem;
    }

    iframe {
        width        : 100%;
        height       : 450px;
        border-radius: 1rem;
        border       : hsl(0, 0, 22%);
    }

    .contact-form-header {

        font-size  : 1.5rem;
        font-weight: 500;
        margin     : 2rem 0;
    }

    .contact-form-container {
        display  : flex;
        flex-wrap: wrap;

        form {
            width     : 100%;
            text-align: right;

            .input-submit {
                color           : #ffd700;
                background-color: #282828;
                border          : 0;
                margin-top      : 2rem;
                padding         : 1rem;
                font-size       : 1rem;
                border-radius   : 10px;
                box-shadow      : -0.5px -0.5px 1px rgba(150, 150, 150, 0.3);
                text-transform: capitalize;
                span{
                    margin-left: 10px;
                }
                cursor: pointer;
                transition: background-color 0.5s ease;
            }
            .input-submit:hover{
                background-color:#333;
            }
            label {
                display        : flex;
                flex-wrap      : wrap;
                justify-content: space-between;
                gap            : 2rem;

                * {
                    height          : 50px;
                    border-radius   : 10px;
                    border          : 1px solid hsl(0, 0, 22%);
                    background-color: transparent;
                    color           : #fff;
                    padding         : 1rem;
                }

                .input-form {
                    font-size: 1rem;
                    flex     : 0 0 calc(50% - 2rem);
                }

                .input-form-message {
                    font-size             : 1rem;
                    flex                  : 0 0 100%;
                    height                : 150px;
                    font-family           : -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                    -webkit-font-smoothing: antialiased;
                    // overflow-y: scroll;
                }

            }
        }
    }
}