.blog-card {
    flex            : 1 1 calc(50% - 20px);
    scale           : 1;
    animation       : blog-appear 0.5s forwards;
    background-color: #333;
    border-radius   : 1rem;

    @keyframes blog-appear {
        from {
            scale: 0.5;
            opacity: 0;
        }

        to {
            scale: 1;
            opacity: 1;
        }
    }

    .blog-card-img-container {
        border-radius: 1rem;
        overflow     : hidden;
        width        : 100%;
        height       : 250px;
        display      : flex;
        align-items  : center;

        .blog-card-img {
            cursor       : pointer;
            transition   : height 0.5s;
            border-radius: 1rem;
            object-fit   : cover;
            width        : 100%;
            height       : 100%;
        }

    }

    .blog-card-img-container:hover .blog-card-img {
        height          : 120%;
        // border-radius: 50%;
    }


    .blog-card-content {
        padding: 1rem;
        .blog-card-date {
            font-size     : 1rem;
            color         : #808080;
        }

        .blog-card-h1 {
            font-size     : 1.5rem;
            margin-bottom: .5rem;
        }

        .blog-card-p {
            font-size     : 1rem;
            color         : #aaa;
        }

        .blog-card-link {
            font-size     : 1rem;
            color         : #ffd700;
            text-decoration: none;
            cursor        : pointer;
        }
    }

}