$gr: #383838;

.about-container {
    padding: 2rem;
    overflow-x: hidden;
    animation: appear 0.5s ease;
    transition: opacity 0.5s;

    @keyframes appear {
        0% {
            opacity: 0.2;

        }

        100% {
            opacity: 1;

        }
    }

    .mobile-about {
        display: none;

        @media (max-width: 768px) {
            display: block;
        }
        .img-container{ 
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        h1 {
            font-size: 1.5rem;
            margin: 10px 0;
            font-weight: 500;
            text-align: center;
        }

        .job {
            border-radius: 5px;
            
            p {
                background-color: #2c2c2c;
                font-size: .75rem;
                text-align: center;
                padding: .25rem 1.2rem;
                border-radius: 5px;
                width: 100px;
                margin: 0 auto;
            }
        }
    }

    .page-title {
        font-size: 2rem;
        font-weight: 500;
    }

    .br-line {
        width: 3rem;
        border: 3px solid #ffd700;
        margin: 20px 0;
        border-radius: 20px;
        animation: brline 0.5s ease;
    }

    @keyframes brline {
        0% {
            width: 0;

        }

        100% {
            width: 3rem;

        }
    }

    .about-text {
        color: #d3d3d3;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    h2 {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .testimonials-heading {
        margin-bottom: 1rem;
    }

    .about-card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        transition: all 0.5s ease;
        // :nth-child(1) {
        animation: fadeIn 0.5s ease;
        // }
    }

    .carousel-container {
        transition: all 0.5s ease;
        animation: fadeIn 0.5s ease;

        div {
            border-radius: .5rem;

            img {
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
            }
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
            /* Optional: slight move up */
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

}