.clients-container {
    // height    : 12rem;
    display   : flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width     : 100%;
    margin-top : 2rem;
    gap: 10px;
    text-align: center;
    .clients-content {
        // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
        flex: 0 0 calc(30% - 20px);
        margin-bottom: 2rem;
    }
    img{
        width: 200px;
        height: 100px;
    }
}
