.flex {
    display: flex;
}

.flex-center {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.contact {

    width          : 100%;
    // justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    .icon-container {
        padding         : 1.5rem 1rem;
        margin-left: 2rem;
        margin-right: 1rem;
        align-items     : center;
        justify-content : center;
        height          : 30px;
        background-color: #222;
        border-radius   : 5px;
        overflow        : hidden;

        svg {
            font-size: 1rem;
            color: #ffd700;
        }
        
    }
    .contact-content {
        font-size: .75rem;
        text-align: left;
        .title {
            text-transform: uppercase;
            color: #aaa;
        }
    }
}